body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    display: flex;
}

.half-width {
    width: 50%;
}

#title-image {
    width: 80%;
}

.title-part {
    padding: 6%;
}

.title-part p {
    margin-bottom: 50px;
    color: #828282;
}

h2 {
    font-weight: 900;
}

h1 {
    font-size: 60px;
}

.orange {
    color: orange;
}

.gradient-button {
    text-decoration: none;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    padding: 15px;
    color: #FFF;
    font-weight: 700;
    border-radius: 50px;
}

.about-image {
    width: 60%;
    padding-left: 15%;
}

.about-section {
    margin-top: 100px;
}

.about-section p {
    margin-bottom: 50px;
    width: 75%;
    color: #828282;
}

.about-background {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-position: center;
    background-size: cover;
}

.my-recipies {
    text-align: center;
}

.recipe-box {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3%;
    padding: 1%;
    border-radius: 40px;
}

.recipe-box img {
    display: block;
    margin: auto;
    width: 97%;
}

.recipe-container {
    margin-left: 5%;
    margin-right: 5%;
}

.social-section {
    margin-bottom: 100px;
}

.social-box {
    margin: auto;
    width: 60%;
    display: flex;
    text-align: center;
    padding: 2% 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;

}

.social-item {
    margin: 0 50px;
    width: 33%;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 4%;
    padding-bottom: 4%;
}

.footer p {
    color: lightgray;
}